# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Icon?

# General macOS files
*.swp
*.swo
*.tmp

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.whl

# PyCharm specific files
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Testing
.coverage
.coverage.*
nosetests.xml
test-results/

# Pytest
.cache

